<a href="https://colab.research.google.com/github/jmcava/Curso-PHP-Laravel-Completo-E-Total/blob/master/Aula_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p align="center"> 
<img src="https://datascience.study/wp-content/uploads/2019/01/python-logo.png">
</p>

# Python

Python é uma linguagem de programação multiparadigma (suporta o paradigma orientado a objetos, imperativo, funcional e procedural) de tipagem dinâmica criada por [Guido van Rossum](https://pt.wikipedia.org/wiki/Guido_van_Rossum) em 1991. Devido às suas características, ela é principalmente utilizada para processamento de textos, **dados científicos** e criação de CGIs para páginas dinâmicas para a web.

## Hello word

Geralmente o primeiro programa em qualquer linguagem é chamado de *hello word*. Em Python podemos fazer algo como:

In [0]:
# Meu primeiro programa em Python
print('Hello Word')

Hello Word

Perceba o código que está após o hashtag. Ele é um comentário em Python.

## Operações aritméticas

Python fornece **operadores** aritméticos, que são símbolos especiais que representam computações, tais como: somar e subtrair. Os operadores básicos são $+$, $-$, $*$ e $/$ que executam respectivamente soma, subtração, multiplicação e divisão.

In [0]:
# Somando dois números
print(40+50)

90

In [0]:
# Subtraindo dois números
print(80-20)

60

In [0]:
# Multiplicando dois números
print(10*20)

200

In [0]:
# Dividindo dois números
print(3/2)

1.5

Existem outros operadores aritméticos em python, como o operador $**$ que computa a potênciação:

In [0]:
# Elevando um número ao quadrado
print(10**2)

100

In [0]:
# Elevando um número ao cubo
print(10**3)

1000

Na maioria das linguagens de programação o símbolo do operador que executa a potênciação é o $ˆ$. Contudo, no Python ele é um operador *bitwise*. Se quiser saber mais sobre operadores *bitwise* no Python veja [aqui](http://wiki.python.org/moin/BitwiseOperators).

### Exercícios

Escreva abaixo um código python que calcula a seguinte expressão matemática: $ (10^2+20)-(15*10)+(11/50) $

In [0]:
# Lembre-se que o operador ** é quem executa potênciação! 
print((10**2+20)-(15*10)+(11/50))

-29.78

O que acontece se eu executar $(10^2+20$ ?

In [0]:
# Escreva e veja o resultado
(10**2+20

SyntaxError: ignored

E se eu tentar $ 0/0 $?

In [0]:
# 0/0 é indefinido na matemática, então vamos ver como o python se comporta
0/0

ZeroDivisionError: ignored

## Valores e tipos

Valores são os tipos mais básicos de dados que trabalhamos. Alguns exemplos são: $4.38$, "Nome:", $25$. Contudo, esses dados são de **tipos** distintos, $4.38$ é um dado real (**float**), "Nome:" é uma String (**str**) e $25$ um número inteiro (**int**). 

O Python tem tipagem dinâmica, o que significa que não especificamos o tipo de um dado quando declaramos ele em uma varíavel (veremos esse assunto mais para frente). Contudo, muitas vezes queremos saber o tipo de dado que estamos lidando. Portanto, o Python possui uma função que retorna o tipo do dado em tempo de excecução, essa função se chama **type**.

In [0]:
# Vamos ver o tipo de 4.38
print(type(4.38))

<class 'float'>

In [0]:
# Agora o tipo de "Nome:"
print(type('Nome:'))

<class 'str'>

In [0]:
# Agora o tipo de 25
print(type(25))

<class 'int'>

O operador **type** funciona com muitos outros tipos do Python, por exemplo, tente ver o tipo da função **print**:

In [0]:
# Imprima o tipo da função print
print(type(print))

<class 'builtin_function_or_method'>

### Exercícios

**Ex1.** O que acontece se você rodar a função **print** sem os parênteses?

In [0]:
# Escreva aqui
print

**Ex2.** Se você tentar imprimir uma String sem as aspas, o que vai acontecer?

In [0]:
# Escreva aqui usando seu nome, por exemplo
print(Nome)

NameError: ignored

**Ex3.** Se você quiser declarar um número como negativo, basta colocar o sinal de menos na frente do número, por exemplo $-2$. Agora, o que acontece se você fizer $2++2$?

In [0]:
# Escreva aqui
2++2

4

**Ex3.** Em notação matemática, podemos escrever $02$ que é a mesma coisa de $2$. E em Python o que acontece?

In [0]:
# Escreva aqui
02

SyntaxError: ignored

**Ex4.** O que acontece se você tiver dois valores sem um operador entre eles?

In [0]:
# Escreva aqui
2 34

SyntaxError: ignored

**Ex5.** Quantos segundos existem em $42$ minutos e $42$ segundos?

In [0]:
# Lembre-se que 1 minuto é igual a 60 segundos
(42*60) + 42

2562

**Ex6.** Quantas milhas existem em $10$ quilometros?  (considere $1$ milha como $1.6$km)

In [0]:
# Escreva aqui
print(10/1.6)

6.25

**Ex7.** Se você correr uma maratona de $10$ quilometros em $42$ minutos e $42$ segundos, qual é o seu pace médio em minutos/quilometros?

In [0]:
#
# O tempo precisa ser convertido para minutos (basta dividir o tempo em segundos por 60)
#
# m = s/60
#
# O passe médio é em minutos/quilometros, portanto depois de ter o tempo em segundos, basta
# dividir pelo valor em quilometros.
# 
# pm = (42 + m) / 10
#
print('Pace médio: %.2f m/km'% ((42+(42/60))/10))

Pace médio: 4.27 m/km

**Ex8.** E em minutos/milhas?

In [0]:
# Você vai modificar o denominador do calculo da questão acima.
print('Pace médio: %.2f m/milhas'% ((42+(42/60))/(10/1.6)))

Pace médio: 6.83 m/milhas

## Variáveis, expressões e atribuições

Até agora nós lidamos com os dados de forma estática (também dizemos que são **constantes**). Contudo, em geral queremos atribuir valores e executar operações com eles. Podemos fazer isso a partir de **variáveis**.

### Atribuições

Uma **atribuição** cria uma nova variável com um dado valor:

In [0]:
# Cria uma variável e atribui uma String
mensagem = 'Uma mensagem'
print(mensagem)

Uma mensagem

In [0]:
# Cria uma varíavel e atribui um número real
pi = 3.1416
print(pi)

3.1416

In [0]:
# Cria uma variável e atribui um número inteiro
n = 100
print(n)

n=20
print(n)

100
20

In [0]:
# Imprima o tipo de cada uma das variáveis
print(type(mensagem))

print(type(pi))

print(type(n))

<class 'str'>
<class 'float'>
<class 'int'>

### Nomeando variáveis

Variáveis devem receber na medida do possível nomes auto-explicativos. Por exemplo, criamos a variável **pi** no exemplo anterior e qualquer programador vai entender que aquela variável é o número pi. Contudo, existem certas exceções.

In [0]:
# Tente criar uma varíavel que comece com um número no nome
10pi = 3.14

SyntaxError: ignored

In [0]:
# Agora usando @
@n = 10

SyntaxError: ignored

In [0]:
# Agora usando uma palavra reservada da linguagem
class = 'Esta é uma palavra reservada'

SyntaxError: ignored

A palavra **class** é uma *palavra reservada* do Python. Isso significa que **class** é utilizado pela linguagem para criar um tipo de estrutura Python (nesse caso classes, que veremos mais adiante). Na Tabela Tab-1 são apresentadas as palavras reservadas para o Python 3.

| &nbsp; | &nbsp; | &nbsp; | &nbsp; | &nbsp; | &nbsp; | &nbsp; | &nbsp; |
| ------- | ----- | ----- |  ----- |  ----- |  ----- |  ----- | ----- | 
| False | None | True | and | as | assert | break |
| class | continue | def | del | elif | else | except |
| finally | for | from | global | if | import | in |
| is | lambda | nonlocal | not | or | pass | raise |
| return | try | while | with | yield |
|||||

<center><b>Tab-1.</b> Palavras reservadas do Python 3.</center>

Na maioria das IDE's Python as palavras reservadas possuem cores diferentes (veja a **class** na célula anterior), portanto não se preocupe em memorizá-las, com o tempo isso vai se tornar natural.

### Expressões

Uma **expressão** é uma combinação de valores, variáveis e operadores. Como variáveis armazenam valores, as operações a seguir são válidas:

In [0]:
#@title Formulário
valor = 1000 #@param {type:"number"}

# Fazendo operações com valor e guardando os resultados em outras variáveis
resultado1 = valor*2.4
resultado2 = valor+20
resultado3 = valor**2

# Apresentando os resultados
print(resultado1)
print(resultado2)
print(resultado3)

2400.0
1020
1000000

Quando você inputa a field **valor** no exemplo acima, ele substitui **valor** pelo valor que foi atribuido a ele, nesse caso 10. O mesmo ocorre com as variáveis **resultado1**, **resultado2** e **resultado3**.

## Operações com Strings

Em Python não é possível fazer operações matemáticas com Strings:

In [0]:
# Tente subtrair as duas Strings a seguir
print('1'-'2')

TypeError: ignored

In [0]:
# Ou dividir
print('1'/'2')

TypeError: ignored

In [0]:
# Multiplicar talvez?
print('1'*'2')

TypeError: ignored

Existem duas restrições, mas que produzem resultados próprios de Strings. São eles os operadores $+$ e $*$.

O operador $+$ executa uma operação em Strings conhecida como **concatenação**, ou seja, ele junta duas Strings.

In [0]:
nome = "Luke" #@param {type:"string"}
sobrenome = "Skywalker" #@param {type:"string"}

# Adicinamos um espaço (também é uma String) entre o nome e sobrenome. 
nome_completo = nome + ' ' + sobrenome
print(nome_completo)

Luke Skywalker

O operador $*$ é utilizado para **repetição**.

In [0]:
# Criando uma String 
mensagem = "Oi eu sou a Dory e sofro de perda de memória recente." #@param {type:"string"}

# Repetindo a mensagem 
print((mensagem+'\n')*10)

Oi eu sou a Dory e sofro de perda de memória recente.
Oi eu sou a Dory e sofro de perda de memória recente.
Oi eu sou a Dory e sofro de perda de memória recente.
Oi eu sou a Dory e sofro de perda de memória recente.
Oi eu sou a Dory e sofro de perda de memória recente.
Oi eu sou a Dory e sofro de perda de memória recente.
Oi eu sou a Dory e sofro de perda de memória recente.
Oi eu sou a Dory e sofro de perda de memória recente.
Oi eu sou a Dory e sofro de perda de memória recente.
Oi eu sou a Dory e sofro de perda de memória recente.

## Comentários

Comentários em Python são feitos usando **#**.

In [0]:
# Atribuindo o número pi
pi = 3.14

# Cuidado, ao atribuir um valor a n, deve se considerar n um número inteiro
n = 10

## Exercícios

**Ex1.** Faça um código para calcular a área de um quadrado.  A área do quadrado é $a=l*l$ onde l é um lado do quadrado. (utilize variáveis)

In [0]:
 l = 5 #@param {type:"number"}

# Escreva aqui
a = l * l
print('A área do quadrado é: ', a)

A área do quadrado é:  25

**Ex2.** Faça um código para calcular o volume de uma esfera. O volume $v$ de uma esfera é dado por $ v=\frac{4}{3}\pi r^3 $ onde $r$ é o raio da esfera. (utilize variáveis)

In [0]:
pi = 3.14 #@param {type:"number"}
raio = 3 #@param {type:"number"}

# Escreva aqui
v = (4/3)*pi*raio**3
print('O volume de uma esfera de raio %d é %.2f'% (raio, v))

O volume de uma esfera de raio 3 é 113.04

**Ex3.** Suponha que em uma gráfica, a capa de um livro custe $R\$ 24,95$ reais, porém, a gráfica está dando $40\%$ de desconto por capa. A primeira cópia do conteúdo do livro custa $R\$ 3,00$ reais e as demais custam $R\$0,75$ centavos cada. Qual o custo total de $60$ cópias do livro (incluindo as capas)? (utilize variáveis)

In [0]:
#
# Calculando o preço de uma capa com desconto, se o desconto é de 40%, pagamos 60% do valor
#  
#  %    R$
# 100  24.95
#  60    x
#
# Aplicação de regra de 3.
#
capa = 24.95*0.60

# Primeira cópia
primeira_copia = 3 + capa

# Demais copias
outras_copias = 0.75 + capa

preco_copias = primeira_copia+(outras_copias*59)
print('O preço total de 60 cópias é R$%.2f'% preco_copias)

O preço total de 60 cópias é R$945.45

**Ex4.** Como podemos alterar o código acima, para calcular o custo de $n$ cópias do livro?

In [0]:
n = 60 #@param {type:"number"}

# Escreva aqui
capa = 24.95*0.60

# Primeira cópia
primeira_copia = 3 + capa

# Demais copias
outras_copias = 0.75 + capa

preco_copias = primeira_copia+(outras_copias*(n-1))
print('O preço total de n=%d cópias é R$%.2f'% (n, preco_copias))

O preço total de n=60 cópias é R$945.45

**Ex5.** Escreva um código que converte um valor em **reais** para as moedas **dolar**, **euro**, **Som uzbeque** e **Iene Japônes**.

Considere que:<br>
Um real equivale a $0.27$ dolar<br>
Um real equivale a $0.23$ euro<br>
Um real equivale a $2241.99$ Som uzbeque<br>
Um real euqivale a $29.49$ Iene Japônes

In [0]:
reais = 2 #@param {type:"number"}

# Escreva aqui
dolar = reais * 0.27
euro = reais * 0.23
som_uzbeque = reais * 2241.99
iene_japones = reais * 29.49

print('%.2f reais equivalem a %.2f Dolares' % (reais, dolar))
print('%.2f reais equivalem a %.2f Euros' % (reais, euro))
print('%.2f reais equivalem a %.2f Som Uzbeque' % (reais, som_uzbeque))
print('%.2f reais equivalem a %.2f Iene Japônes' % (reais, iene_japones))

2.00 reais equivalem a 0.54 Dolares
2.00 reais equivalem a 0.46 Euros
2.00 reais equivalem a 4483.98 Som Uzbeque
2.00 reais equivalem a 58.98 Iene Japônes

**Ex6.** Escreva um programa inverso ao anterior, ou seja converte **dolar**, **euro**, **Som uzbeque** e **Iene Japônes** para real.

De acordo com o exercício acima, considere que:<br>
Um dolar equivale a $\frac{1}{0.27}$ real.<br>
Pensem nos demais olhando o exercício anterior...

In [0]:
valor_monetario = 2 #@param {type:"number"}

# Escreva aqui
# Escreva aqui
real_dolar = valor_monetario/0.27
real_euro = valor_monetario/0.23
real_som_uzbeque = valor_monetario/2241.99
real_iene_japones = valor_monetario/29.49

print('%.2f Dolares equivalem a %.2f reais' % (valor_monetario, real_dolar))
print('%.2f Euros equivalem a %.2f reais' % (valor_monetario, real_euro))
print('%.2f Som Uzbeque equivalem a %.2f reais' % (valor_monetario, real_som_uzbeque))
print('%.2f Iene Japônes equivalem a %.2f reais' % (valor_monetario, real_iene_japones))

2.00 Dolares equivalem a 7.41 reais
2.00 Euros equivalem a 8.70 reais
2.00 Som Uzbeque equivalem a 0.00 reais
2.00 Iene Japônes equivalem a 0.07 reais

**Ex7.** Faça um programa para converter graus em radianos, onde $1$ grau equivale a $\frac{1}{57.3}$ radianos.

In [0]:
graus = 10 #@param {type:"number"}

# Escreva aqui
radianos = graus*(1/57.3)
print('%.2f graus são %.2f radianos' % (graus, radianos))

10.00 graus são 0.17 radianos

**Ex8.** Faça um programa para converter radianos em graus.

In [0]:
radianos = 0.17 #@param {type:"number"}

# Escreva aqui
graus= radianos/(1/57.3)
print('%.2f radianos são %.2f graus' % (radianos, graus))

0.17 radianos são 9.74 graus

**Ex9.** Escreva um programa para fazer um *swap* entre duas variáveis inteiras (*swap* é uma operação que troca o valor em memória de uma variável pelo da outra).

In [0]:
# Valores de a e b
a = 20 #@param {type:"number"}
b = 10 #@param {type:"number"}

# Troque a por b utilizando uma
# terceira variável para a troca.
c = a
a = b
b = c
 
# Ao imprimir a e b devem estar trocados 
print(a)
print(b)

10
20

**Ex10.** Troque a por b sem usar nenhuma variável adicional.

In [0]:
# Valores de a e b
a = 20 #@param {type:"number"}
b = 10 #@param {type:"number"}

# Para resolver use soma e subtração.
a = a + b
b = a - b
a = a - b

# Ao imprimir a e b devem estar trocados 
print(a)
print(b)

10
20

**Ex11.** Escreva um programa que calcule o seguinte polinômio $ p=x^2+x^3+x^5 $.

In [0]:
x = 2 #@param {type:"number"}

# Escreva aqui
p = x**2+x**3+x**5
print('O polinômio vale: %.2f' % p)

O polinômio vale: 44.00

**Ex12.** Escreva um programa que calcula o perímetro (circunferência) de um círculo $ p=2\pi r^2 $ onde $r$ é o raio do círculo.

In [0]:
pi = 3.14 #@param {type:"number"}
r = 2 #@param {type:"number"}

# Escreva aqui
p = 2*pi*r**2
print('O perímetro da circunferência vale: %.2f' % p)

O perímetro da circunferência vale: 25.12

**Ex13.** Podemos calcular o perímetro de um círculo a partir do seu diâmetro. Para isso, basta obter o raio a partir do diâmetro, isto é, dado um diâmetro $  d $ obtemos o raio $ r=\frac{d}{2} $ e então aplicar a fórmula acima de perímetro. Reescreva nosso programa para calcular o perímetro de um círculo a partir do seu diâmetro.

In [0]:
pi = 3.14 #@param {type:"number"}
d = 4 #@param {type:"number"}

# Escreva aqui
r = d/2
p = 2*pi*r**2
print('O perímetro da circunferência vale: %.2f' % p)

O perímetro da circunferência vale: 25.12

**Ex14.** O teorema de Pitágoras é um teorema muito importante que relaciona os lados de um triângulo retângulo. Matematicamente, o teorema é expresso pela fórmula $  h^2=b^2+c^2$, onde $ h $ é chamado de *hipotenusa* e $b, c$ são os *catetos* do triângulo. Escreva um programa que calcula o valor de $h$.

In [0]:
b = 3 #@param {type:"number"}
c = 4 #@param {type:"number"}

# Escreva aqui
h = (b**2+c**2)**(1/2)
print('Hipotenusa: %.2f' % h)

Hipotenusa: 5.00